:root {
	--main-font-size: 42px;
	--current-page-font-size: 42px;
	--main-line-height: 63px;
	--current-page-line-height: 63px;
}

@font-face {
	font-family: 'GurbaniAkharHeavy';
	src: local('GurbaniAkharHeavy'),
		url('./GurbaniAkharHeavy.ttf') format('truetype');
}

* {
	box-sizing: border-box;
}

body,
html {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#main {
	background-color: hsl(197, 52%, 11%);
	color: hsl(217, 50%, 63%);
	cursor: none;
	font-family: 'GurbaniAkharHeavy';
	font-size: var(--main-font-size);
	line-height: var(--main-line-height);
	white-space: nowrap;
	height: 100%;
	width: 100%;
}

.page {
	background-color: hsl(197, 52%, 11%);
	padding: 1em 1em 0.5em 1em;
	position: absolute;
	z-index: 0;
}

.currentPage {
	font-size: var(--current-page-font-size);
	line-height: var(--current-page-line-height);
	z-index: 1;
}
