* {
	box-sizing: border-box;
}

body,
html {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#main {
	background-color: hsl(197, 52%, 11%);
	color: hsl(217, 50%, 63%);
	font-family: GurbaniAkharHeavy;
	font-size: 42px;
	line-height: 1.5em;
	white-space: nowrap;
	height: 100%;
	width: 100%;
}

.page {
	background-color: hsl(197, 52%, 11%);
	padding: 1em 1em 0.5em 1em;
	position: absolute;
	z-index: 0;
}

.currentPage {
	z-index: 1;
}
